{% extends "base_template.html" %}
{% block title %}Flux{% endblock %}
{% block content %}
<div class="review_buttons">
<br>
<a href="create_ticket"><button type="submit">Demander une critique</button></a>
<button type="submit">Créer une critique</button>
<br>
</div>
<div class="feed">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'ticket/ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'review_snippet.html' %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}